name: Send to Email
on: 
  workflow_dispatch:
  push:
jobs:
    build:
        runs-on: ubuntu-latest
        environment: EmailSecrets
        steps:
        - name: Check out repository code
          uses: actions/checkout@v2
        - name: Send mail
          uses: dawidd6/action-send-mail@v6
          with: #    smtp+starttls://inaki.medina:uoxokhjndiaivmsp@gmail.com:587
              server_address: smtp.gmail.com
              server_port: 465
              username: ${{ secrets.SMTP_USERNAME }}
              password: ${{ secrets.SMTP_PASSWORD }} # Use the secret here!
              subject: Cambios subidos a rama feature_a
              # Required recipients' addresses:
              to: inaki.medina@gmail.com
              # Required sender full name (address can be skipped):
              from: so yo putas
             # Optional plain body:
              body: Build job of ${{github.repository}} completed successfully!